@model IEnumerable<UserAuthentication.Models.Products>
<head>
    <script>
        const { data } = require("jquery");


        function SearchValue() {
            var searchvalue = document.getElementById('search').value;
            if (searchvalue == "") {
                //debugger;
                swal({
                    title: "Sorry",
                    text: "Please enter the category name",
                    button: true,
                    icon: "warning",
                    dangerModel: true,
                    timer: 1500
                });
            }
            else {

                alert("the value is " + searchvalue);
                debugger;
                $.ajax({

                    type: "get",
                    url: "/Products/Search/"+searchvalue,
                    success: function (data) {
                        console.log(data);
                        swal({
                            title: "Done",
                            text: "Category filtered",
                            button: true,
                            icon: "success",
                            dangerModel: true,
                            timer: 1500
                        });
                        debugger;
                        var categoryId = 0;
                        for (var value of data.datacategory) {
                            if (searchvalue == value.name90) {
                                categoryId = value.id;
                                break;
                            }
                        }
                        console.log(categoryId);
                        if (categoryId != 0) {
                            for (var value of data.data) {
                                if (value.categoryId != categoryId) {
                                    document.getElementById(`${value.id}`).style.display = 'none';
                                }
                            }
                        }
                        else {
                            swal({
                                title: "Oops",
                                text: "Book category not available",
                                button: true,
                                icon: "error",
                                dangerModel: true,
                                timer: 1500
                            });
                        }

                    }
                });
            }
        }
    </script>


</head>
@{
    ViewBag.Title = "Menu";
}

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<div class="col-12 row m-3">
    <div class="col-6 offset-2">
        <input id="search" type="search" value="" placeholder="Search Book By Category" class="form-control" />
    </div>
    <div class="col-3">
        <button type="submit" onclick="SearchValue()" class="btn btn-info text-white">Search</button>
    </div>
</div>

<div class="row" id="displayfilterdetail">

</div>

<div>
    @Html.Partial("_Menu",Model)
</div>
<div>

    @*@Html.ActionLink("Back to List", "Menu", "SubCategories", new { id = Model.FirstOrDefault().SubCategory.ID })*@
    <a href="/SubCategories/Menu/@Model.FirstOrDefault().SubCategory.CategoryId">Back to Subcategories</a> <br />
    <a href="/Categories/Index">Back to CAtegories</a>
</div>
