<div>

    <h1 style=" font-weight: 400; font-size: 28px; line-height: 36px;">Your Amazon Cart is empty.</h1>
</div>

<div>
    <p>
        Your shopping cart is waiting. Give it purpose – fill it with groceries, clothing, household supplies, electronics and more.
        <br>
        Continue shopping on the <a class="a-link-normal" href="~/Categories/Index">MoonLightStudio.in homepage</a>@*, learn about <a class="a-link-normal" href="/gp/goldbox/ref=ord_cart_empty">today's deals</a>, or visit your <a class="a-link-normal" href="/gp/registry/wishlist/ref=ord_cart_empty">Wish List</a>.*@
    </p>
</div>