@model IEnumerable<UserAuthentication.Models.ProjectDocument>

@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
            <a href="~/Documents/@item.Document" target="_blank">Click Here</a>
        </td>
        
    </tr>
}

</table>
